<!-- <div class="row main-row">
    <div class="col s12 main-row-container">
        <div id="historytable-container" class="card z-depth-4"> -->
            <table class="highlight thin sticky-header">
                <thead>
                    <tr>
                        <th data-col="1">Date</th>
                        <th data-col="2">Winner</th>
                        <th data-col="7">Loser</th>
                        <th data-col="5">ELO</th>
                        <th data-col="10">Diff</th>
                    </tr>
                </thead>
            </table>
        <!-- </div>
    </div>
</div> -->