<div id="add-crew" class="modal full dark">
    <div class="wrapper">
        <div class="header modal-title">
            <div class="modal-header">
                <i class="material-icons left">group_add</i>
                <h4>Add Crew</h4>
            </div>
        </div>
        <div class="content">
            <div class="sub-content">
                <form id="add-crew-form">
                    <div class="container">
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="crewName" placeholder="Name" id="crewName" type="text"
                                    autocomplete="off" />
                                <label for="crewName">Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="crewTag" placeholder="Tag" id="crewTag" type="text"
                                    autocomplete="off" />
                                <label for="crewtag">Tag</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat js-cancel"><i class="material-icons left">
                    cancel
                </i>Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat js-submit"><i
                    class="material-icons right">
                    send
                </i>Submit</a>
        </div>
    </div>
</div>