<li>
    <a
        class="btn-floating yellow darkern-1 waves-effect waves-light red right bottom-button tooltipped"
        data-position="top"
        data-tooltip="Google Sheet"
        href="https://docs.google.com/spreadsheets/d/<% $standingsSheetId$ %>/edit#gid=0"
        target="_blank"
        ><i class="material-icons">source</i></a
    >
</li>
<li>
    <a
        href="#!"
        class="btn-floating green waves-effect waves-light red right bottom-button js-updata-datasource tooltipped js-updata-datasource"
        data-position="top"
        data-tooltip="Update Data Source"
    >
        <i class="material-icons">sync</i>
    </a>
</li>
