<% base-head.html %>
<script src="js/scoreBotAddCrew.js?v=<% $version$ %>" defer></script>
<script src="js/scoreBotRenameCrew.js?v=<% $version$ %>" defer></script>
<script src="js/scoreBotRemoveCrew.js?v=<% $version$ %>" defer></script>
<script src="js/scoreBotBatchManager.js?v=<% $version$ %>" defer></script>
<script src="js/scoreBotAddMatch.js?v=<% $version$ %>" defer></script>
<script src="js/scoreBotAddTeamMatch.js?v=<% $version$ %>" defer></script>
<script src="js/scoreBotRemoveMatch.js?v=<% $version$ %>" defer></script>
<script src="js/scoreBotUpdateMatch.js?v=<% $version$ %>" defer></script>
<script src="js/scoreBotMatchManager.js?v=<% $version$ %>" defer></script>