<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center main-brand">Score Bot <% $stage$ %><img class="main-title-image"
                    src="img/eve-icon-2.png"></img></a>
            <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a id='adminOptionsDropdown' class='dropdown-trigger btn' href='#' data-target='adminOptions'>Admin Options</a></li>
            </ul>
            <!-- Dropdown Structure -->
            <ul id='adminOptions' class='dropdown-content'>
                <li><a class="modal-trigger" data-target="add-crew" class="js-result">
                    Add Crew<i class="material-icons">group_add</i></a></li>
                <li><a class="modal-trigger" data-target="rename-crew" class="js-result">
                    Rename Crew<i class="material-icons">drive_file_rename_outline</i></a></li>
                <li><a class="modal-trigger" data-target="remove-crew" class="js-result">
                    Remove Crew<i class="material-icons">delete_sweep</i></a></li>
                <li><a class="modal-trigger" data-target="match-result" class="js-result">
                    Add Result<i class="material-icons">emoji_events</i></a></li>
                <li><a class="modal-trigger" data-target="team-match-result" class="js-result">
                    Add Team Result<i class="material-icons">groups</i></a></li>
                <li><a class="modal-trigger" data-target="match-manager" class="js-result">
                    Manage Match<i class="material-icons">build</i></a></li> 
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile">
        <li>
            <h5 class="center">Actions</h5>
        </li>
        <li><a class="btn modal-trigger" data-target="team-match-result" class="js-result">
            Add Team Result<i class="material-icons right">groups</i>
        </a></li>
        <li><a class="btn modal-trigger" data-target="match-result" class="js-result">
                Add Result<i class="material-icons right">emoji_events</i>
            </a></li>
        <li><a class="btn modal-trigger" data-target="add-crew" class="js-result">
                Add Crew <i class="material-icons right">group_add</i>
            </a></li>
        <li><a class="btn modal-trigger" data-target="rename-crew" class="js-result">
            Rename Crew <i class="material-icons right">drive_file_rename_outline</i>
        </a></li>
        <li><a class="btn modal-trigger" data-target="remove-crew" class="js-result">
            Remove Crew <i class="material-icons right">delete_sweep</i>
        </a></li>
        <li><a class="btn modal-trigger" data-target="elo-calculator" class="js-result">
            Manage Match<i class="material-icons right">build</i></a></li> 
        <li><a class="btn" href="/sbusers">
                User Management<i class="material-icons right">account_circle</i>
            </a></li>
        <% admin-nav-options.html %>
    </ul>
</header>