<div class="col s12 table-header datatable-paging bottom-paging hide-on-med-and-up">
    <a href="#!" class="btn-flat paging-item js-page-first "><span class="icon material-icons">first_page</span></a>
    <a href="#!" class="btn-flat paging-item js-page-previous "><span class="icon material-icons">chevron_left</span></a>
    <div class="input-field paging-item page-selector">
        <select class="js-page-select browser-default"></select>
        <label class="active">Current Page</label>
    </div>
    <a href="#!" class="btn-flat paging-item js-page-next "><span class="icon material-icons">chevron_right</span></a>
    <a href="#!" class="btn-flat paging-item js-page-last "><span class="icon material-icons">last_page</span></a>
</div>