<div class="flex-center table-header-right">
    <div class="input-field paging-item">
        <input placeholder="Filter" id="datatable-filter" type="text" class="validate" />
    </div>
    <div class="input-field paging-item">
        <select class="js-page-size browser-default">
            <option value=10>10</option>
            <option value=25>25</option>
            <option value=50>50</option>
            <option value=100>100</option>
        </select>
        <label class="active">Page size</label>
    </div>
    <div class="flex-center hide-on-small-only">
        <a href="#!" class="btn-flat paging-item js-page-first"><span class="icon material-icons">first_page</span></a>
        <a href="#!" class="btn-flat paging-item js-page-previous"><span class="icon material-icons">chevron_left</span></a>
        <div class="input-field paging-item">
            <select class="js-page-select browser-default"></select>
            <label class="active">Current Page</label>
        </div>
        <a href="#!" class="btn-flat paging-item js-page-next"><span class="icon material-icons">chevron_right</span></a>
        <a href="#!" class="btn-flat paging-item js-page-last"><span class="icon material-icons">last_page</span></a>
    </div>
</div>